Repository mmgriffi/actiontesting, changes with the labels that .github/labeler.yml gives for each.
All labels: lbl_scripts, lbl_code, lbl_txt

.github/labeler.yml:

# Add 'label1' to any changes within 'example' folder or any subfolders
lbl_scripts:
- scripts/**

# Add 'label2' to any file changes within 'example2' folder
lbl_code: code/*

# Add label3 to any change to .txt files within the entire repository. Quotation marks are required for the leading asterisk
lbl_txt:
- '**/*.txt'

Create readme.txt
  code/readme.txt
Labels: lbl_code, lbl_txt

Create labeler2.yml
  .github/labeler2.yml
Labels: none

Update readme.txt
  code/readme.txt
Labels: lbl_code, lbl_txt

Update labelPullRequest.yml
  .github/workflows/labelPullRequest.yml
Labels: none

Update readme.txt
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update labelPullRequest.yml
  .github/workflows/labelPullRequest.yml
Labels: none

Update readme.txt
  code/readme.txt
Labels: lbl_code, lbl_txt

Update readme.txt (#4)
  code/readme.txt
Labels: lbl_code, lbl_txt

Update labelPullRequest.yml
  .github/workflows/labelPullRequest.yml
Labels: none

Create labelManual.yml
  .github/workflows/labelManual.yml
Labels: none

Update labelManual.yml
  .github/workflows/labelManual.yml
Labels: none

Update readme.txt
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update readme.txt (#5)
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update readme.txt
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update readme.txt (#6)
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update readme.txt
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update readme.txt
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update readme.txt
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update readme.txt
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update readme.txt (#10)
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

update7
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

update7 (#11)
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt

Update readme.txt
  code/readme.txt
Labels: lbl_code, lbl_txt

Update labelPullRequest.yml
  .github/workflows/labelPullRequest.yml
Labels: none

Update readme.txt
  scripts/readme.txt
Labels: lbl_scripts, lbl_txt
